@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

.container {
    overflow-y: auto;
    width : 100%;
    height: auto;
    min-height :30%;
    max-height : 75%;
    margin:auto;
    margin-top: 10%;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    background-color: #F7EFE4;
    position : absolute;
    border-radius: 25px;
    left: 50%;
    top : 30%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
    box-shadow: 15px 30px 15px -15px rgba(116, 116, 116, 0.1);
}

/*navbar shady*/
/* side navbar
===========================*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.92;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 0px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #8a8686;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#background{
    background-color: #ADD8E6;
}
/*navbar shady*/

/*@import url('https://fonts.googleapis.com/css?family=Rasa');*/
.clicked {
    color: red !important;
}

/*sign in*/
.greetings{
    width: 50%;
    background-color: whitesmoke;
    /*background: w;*/
    color: black;
    height: 100%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 27px 0 rgba(0, 40, 120, .35);
}
hr{
    margin-bottom: 13px;
    margin-top: 8px;
    border-top: 1px solid #ddd !important;
}
/* sign in*/

/* button */

button:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #F7EFE4;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

}
/* button*/

.counter-container {
    font-family: 'Rasa', serif;
    font-size : 2rem;
    color : pink;
    text-align: center;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#background{
   background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

/*----------------*/

#atursearch{
  margin-top: 10%;
}

#myInput {
    background-image: url('https://image.ibb.co/hrF1kL/globe.png'); /* Add a search icon to input */
    background-size: 23px 23px;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

table{
    top : 60%;
    position : relative;
    padding : 2%;
    font-family : Raleway;
    }
#searchBox{
    background-color : #E7EFF1;
}

.navbar-nav li {
margin: 5px 100px;
}

nav{
z-index: 1000;
}

