<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Find Your Book</title>
</head>
<body>
<nav class="navbar navbar-e xpand-lg navbar-light background-color: #fffff; ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Book <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
</br></br></br></br>
<div class="container">
    {% if user.is_authenticated %}
    <!-- <form class="form-inline form-control-lg md-form mr-auto mb-4" id=”search” method=”GET” >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" id= "txtSearch" value="" aria-label="Search">
      <button class="btn btn-dark btn-rounded btn-sm my-0" id ="searchButton" type="submit">Search</button>
    </form> -->
    <!-- <form class="form-inline form-control-lg md-form mr-auto mb-4" id="search" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" id="txtSearch" name="q" aria-label="Search">
      <button class="btn btn-dark btn-rounded btn-sm my-0" type="submit">Search</button>
    </form> -->
    </br></br>
    <h2>Find Your Favorite Book Here</h2>
    </br></br>
    <form class="form-inline form-control-lg md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" placeholder="Search" type="search" id="searchBox" name="" value="">
        <button class="btn btn-info" type="button" name="button">Search</button>
    </form>
    <table class="table" id="myTable">
    </table>
</div>
    {% else %}
    <h3></br></br>You Have to Login First</h3>
    {% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="{% static 'js/script.js' static %}"></script>
</body>
</html>
